/*
//
//
//
DOM
*/
body{
  background: url("../img/papel_picado.jpg") no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  color: white;
}
form{
  margin: 0 !important;
  padding: 0 !important;
  display: inline;
}
input{
  font-size: 12px !important;
  height: 18px !important;
  border-radius: 3px !important;
  margin: 0 !important;
  width: 100% !important;
}
/*
//
//
//
classes
*/
.apagador{
  margin-bottom: 0px;
  padding: 0;
}
/*
//
//
//
ids
*/
#busqueda div {
  margin: 0 auto !important;
  padding: 0 !important;
}
#colIzq{
  margin-left: : 0 auto;
}
#contIzq{
  color: white;
}
#encabezado div{
  margin-top: 15px;
  margin-bottom: 15px;
}
#encabezado, #mainCont{
  max-width: 900px;
}
#galeria{
}
#mainCont div{
  padding: 10px;
}
#mainCont, #encabezado{
  margin: 0 auto;
  background-color: rgba(255, 0, 255, 0.6);
}
#menu{
  width: 100%;
  padding: 0;
  margin: 0;
}
#menu li{
  background-color: rgba(255, 255, 255, 0.6);
  border-bottom: solid;
  border-width: 1px;
  border-color: #ff00ff;
  font-size: 12px;
}
#menu li a{
  color: white;
}
#menu li a:hover{
  color: #ff00ff;
  background-color: rgba(255, 255, 255, 0.8);
}
#titGaleria{
  border-bottom: 1px;
  border-bottom-style: dotted;
  border-bottom-color: white;
  color: white;
  text-align: center;
}
#titulo{
  color: white;
  text-align: right;
  border-right: solid;
  border-width: 1px;
  border-color: white;
}
/*
/
/
/
queries
*/
@media screen and (max-width: 767px){
  #titulo{
    font-size: 12px;
  }
}
@media screen and (max-width: 639px){
  #colIzq, #contIzq, #menu{
    padding: 0 !important;
  }
  #galeria, #galeriaR1, #galeriaR2, #historial{
    display: none;
  }
  #titulo{
    font-size: 10px;
  }
}
/*
/
/
/
lista
*/

.list-group {
  margin-bottom: 1rem;
  /*border: 1px solid #e6e6e6;
  border-radius: 0;
  background: #fefefe;*/
  box-shadow: none;
  overflow: hidden;
  color: white;
  font-size: 12px;
}

.list-group > :last-child {
  margin-bottom: 0;
}

.list-group-item {
  /*padding: 1rem;*/
  padding: 5px;
  border-bottom: 1px solid #e6e6e6;
}

.list-group-item > :last-child {
  margin-bottom: 0;
  border-bottom: none;
}

.list-group-item.active {
  color: #fefefe;
  background-color: #1779ba;
  border-color: 1px solid #1779ba;
}

.list-group-item:hover, .list-group-item:focus {
  background-color: rgba(255, 0, 255, 0.4);
}

.list-group-item:hover.active, .list-group-item:focus.active {
  background-color: #1779ba;
}

.list-group-item.disabled, .list-group-item.disabled:hover, .list-group-item.disabled:focus, .list-group-item[disabled], .list-group-item[disabled]:hover, .list-group-item[disabled]:focus {
  color: #8a8a8a;
  cursor: not-allowed;
  background-color: #fefefe;
}
